# Scala
*.class
*.log

# Mac
.DS_Store

# sbt specific
.cache
.history
.lib
dist
target
lib_managed
src_managed
project
.scala-build

# Tooling
.project
.metals
.bsp
.bloop
.vagrant

# Testing
test.png
